/* basic elements */

$basecolor: black;
$basic-font-family: georgia, sans-serif;

html{
    margin: 0;
    padding: 0;
}

body{
    @extend html;
    font: 75% $basic-font-family;
    line-height: 1.88889;
    color: #555753;
    background: #fff url(blossoms.jpg) no-repeat bottom right;
}

p{
    margin-top: 0;
    text-align: justify;
}

h3{
    font: italic normal 1.4em $basic-font-family;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #7D775C;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: $basecolor;

    &:link {
        color: $basecolor;
    }
    &:visited {

    }
    &:hover,&:focus,&:active {

    }
}


@mixin heading ($margin-top, $width, $float, $height){
    margin-top: $margin-top;
    width: $width;
    height: $height;
    float: $float;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

header h1{
    @include heading(10px, 219px, left, 87px);
    display: block;
    background: transparent url(h1.gif) no-repeat top left;
}

header h2{
    @include heading(58px, 200px, right, 18px);
    background: transparent url(h2.gif) no-repeat top left;
    margin-bottom: 40px;
}
